---
import BaseAjuda from "../layouts/BaseAjuda.astro"
import BaseBanner from "../layouts/BaseBanner.astro";
import BaseDestaque from "../layouts/BaseDestaque.astro";
import BasePerguntas from "../layouts/BasePerguntas.astro";
import BaseFooter from "../layouts/BaseFooter.astro";
import PageSuport from "../layouts/PageSuport.astro";
const response = await fetch("http://127.0.0.1:1337/api/home-pages/1");
const { data } = await response.json();
---

<html>
  <PageSuport
  title_page="PubliSocial"
  keywords="Prefeitura, eventos, multirões, vacinas"
  />

  <body>
    <BaseBanner 
      titulo="{`${data.attributes.Titulo}`}"
      subtitulo="{`${data.attributes.SubTitulo}`}"
      access="Inscreva-se"
    />
    <BaseDestaque />
    <BaseAjuda />
    <BasePerguntas />
    <BaseFooter />
  </body>
</html>
