---
import BaseBanner from "../layouts/BaseBanner.astro";
import BaseBannerInternal from "../layouts/BaseBannerInternal.astro";
import BaseFooter from "../layouts/BaseFooter.astro";
import BaseInsc from "../layouts/BaseInsc.astro";
import PageSuport from "../layouts/PageSuport.astro";
---

<html lang="pt-br">
  <PageSuport
  title_page="Inscreva-se"
  keywords="Inscrições, eventos, multirões, vacinas"
  />

  <body>
    <BaseBannerInternal />
    <BaseInsc />
    <BaseFooter />
  </body>
</html>

