---
import BaseLgpd from "../layouts/BaseLgpd.astro";
import BaseFooter from "../layouts/BaseFooter.astro";
import BaseInsc from "../layouts/BaseInsc.astro";
import PageSuport from "../layouts/PageSuport.astro";
---

<html lang="pt-br">
  <PageSuport
  title_page="Política de Privacidade"
  keywords="Inscrições, eventos, multirões, vacinas, LGPD, Dados"
  />

  <body>
    <BaseLgpd />
    <BaseInsc />
    <BaseFooter />
  </body>
</html>