---
const { title, desc, id, form  } = Astro.props
---
<div>
  <div class='question'>
    <input type='checkbox' id={id}>
    <label for={form}>{title}</label>
    <div class='answer'>{desc}</div>
  </div>
</div>

<style>
  .question {
    border-bottom: 1px solid #ccc;
    padding: 22px 0;
    color: #f36e2d;
  }


  .question input,
  .question .answer { display: none }

  .question label {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 12px;
    width: 100%;
  }

  .question input:checked ~ .answer {
    display: block;
  }
</style>