---
import Comum from "../components/Comum.astro"
import vetor from "../images/ajude.svg"
---

<section class="ajuda">
  <Comum
  title="Seja um apoiador da PubliSocial"
  subtitle="Ajude a nossa plataforma a se manter online!"
  access="Seja um Apoiador!"
  ajude={vetor}
  desc_img="Vetor Transações Online"
/>
</section>


<style>
.ajuda{
  background-image: url('./../images/background-two.svg');
  background-attachment: fixed;
  color: #fff;
}
</style>