---
import InternalPage from "../components/InternalPage.astro";
---

<section class="common-section">
    <InternalPage 
    title="O que é a LGPD?"
    paragraph="A Lei Geral de Proteção de Dados (13.709/2018) tem como principal objetivo proteger os direitos fundamentais de liberdade e de privacidade e o livre desenvolvimento da personalidade da pessoa natural. Também tem como foco a criação de um cenário de segurança jurídica, com a padronização de regulamentos e práticas para promover a proteção aos dados pessoais de todo cidadão que esteja no Brasil, de acordo com os parâmetros internacionais existentes. Acesse aqui para saber mais."
    />

    <InternalPage 
    title="Saiba Mais"
    paragraph="A LGPD é a Lei Geral de Proteção de Dados que determina direitos, deveres e princípios que envolvem o uso de dados pessoais em solo brasileiro. Na prática, a LGPD regulamenta como as empresas que atuam no Brasil devem agir em relação à coleta, tratamento e compartilhamento de dados pessoais e sensíveis. A LGPD foi sancionada em 2018 e está em vigor desde setembro de 2020. Inclusive, desde agosto de 2021, a ANPD (Autoridade Nacional de Proteção de Dados), responsável por fiscalizar o cumprimento da lei, está liberada para aplicar as multas e sanções previstas na lei. Isto quer dizer que empresas públicas e privadas que coletam e fazem uso de dados pessoais para o exercício de suas atividades já devem responder e estar adequadas à LGPD. De outro lado, se o titular ou proprietário dos dados se sentir lesado e tiver certeza de que a empresa não está em conformidade com as determinações da LGPD, ele já pode reclamar à Justiça e aos órgãos de defesa do consumidor. Lembrando que as multas e punições por descumprimento da LGPD podem chegar a R$ 50 milhões por infração cometida."
    />
</section>

<style>
    .common-section{
        padding: 4% 10%;
    }
</style>