---
import '../styles/global.css'
const { title_page, keywords } = Astro.props;
---

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../public/favicon.ico">
    <meta name="keywords" content={keywords}>
    <title>{title_page}</title>
</head>
